apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "spark.master-name" . }}
  labels:
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: spark-master
data:
  run.sh: |
    #!/usr/bin/env bash
    set -e

    /spark-master \
      --service-port={{ .Values.master.servicePort }} \
      --webui-port={{ .Values.master.webAdmin.servicePort }} \
      --master-hostname={{ template "spark.master-name" . }}
